@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 clamp(1rem, 5vw, 5rem);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 375px) {
    .container {
        padding: 0 1rem;
    }
}
